#container{
    width: 70%;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    #title{
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        margin: 40px;
    }
    #add{
        float: right;
        margin-right: 50px;
    }
    table {
        width: 100%;
      }
    #table{
        clear: both;
    width: 80%;
    margin: 30px auto;
    }
}
